/* Generics */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.containerheader {
    background-color: #3161e0;
    flex-basis: 500px;
    height: 500px;
}

.header1 {
    flex-wrap: nowrap;
    background-color: #3161e0;
    flex-basis: 50px;
    flex-direction: row;
    border: 2px rgb(193, 19, 19) solid;
    color: white;
    height: 100px;
    flex-basis: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0px 100px
}

.flex .menu {
   gap: 50px;
}

